h1 {
    color: orange;
    font-size: 20px;
    background-color: #00002d;
    font-family: AppleGothic, fantasy;
    text-decoration: underline;
    text-align: center;
}
p {
    color: slategray;
    text-align: right;
    line-height: 30px;
    letter-spacing: 2px;
    column-count: 2;
    column-gap: 60px;
}
ul {
    border-bottom: 4px dotted crimson;
    border-left: 8px dashed crimson;
}
li {
    list-style-type: none;
    text-shadow: 2px 2px #E9E9E9;
}
title {
    color: slategray;
}